spring:
  application:
    name:

  datasource:
    url:
    username:
    password:
    driver-class-name:

mybatis:
  mapper-locations:
  configuration:
    map-underscore-to-camel-case:

jwt:
  secret:
  expire-minutes:

tencent:
  cos:
    secret-id:
    secret-key:
    region:
    bucket:
    base-url: