<!--定义Mapper映射文件的约束和基本结构-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.feibijiubi.backend.mapper.CategoryMapper">
    <select id="categoryList" resultType="com.feibijiubi.backend.entity.Category">
        select * FROM category
    </select>
</mapper>